# --- PASTAS DE DADOS (CRÍTICO PARA O ERRO DE PERMISSÃO) ---
# Ignoramos a pasta inteira para que o Docker nem tente ler os metadados
postgres_data/
redis_data/
geoserver_data/
data_source/

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env
.venv
ENV/
*.egg-info/
.pytest_cache/

# --- DJANGO ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
# Caso as pastas acima estejam dentro de algum subdiretório:
**/staticfiles/
**/media/

# --- DOCKER ---
# Não precisamos enviar os arquivos de configuração para dentro da imagem
docker-compose*
Dockerfile
.dockerignore

# --- IDE & SISTEMA ---
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.git/
.gitignore

# --- BACKUPS E TEMPORÁRIOS ---
*.bak
*copy.yml
temp/
tmp/